<div class="container">
<h1>Join our community!</h1>

<form action="http://localhost:8000/api/register" method="POST">
  <div class="form-group">
    <label for="reg_mail">Email address</label>
    <input name="email" type="email" class="form-control" id="reg_mail" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="reg_username">Username</label>
    <input name="username" type="text" class="form-control" id="reg_username" placeholder="e.g.: awesome_user">
  </div>
  <div class="form-group">
    <label for="reg_pass1">Password</label>
    <input name="password" type="password" class="form-control" id="reg_pass1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="reg_pass2">Repeat password</label>
    <input type="password" class="form-control" id="reg_pass2" placeholder="Password">
  </div>
  <input type="hidden" name="csrfmiddlewaretoken" value="{{csrfcookie}}">
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
